body {
  font-family: 'Quicksand', sans-serif;
  font-size: .875em;  //14px base size
  line-height: 1.5em;
  color: $colorGrey1;
}

h1 {
  font-weight: 300;
  font-size: 1.786rem; //25px based on 14px base size
  text-align: center;
  margin-bottom: 1.5em;
}

h2 {
  font-weight: 300;
  font-size: 1.429rem; //20px based on 14px base size
}

p {
  font-weight: 300;
  font-size: 1rem; //14px based on 14px base size
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: lighten($colorGreen, 15%);

  &:hover {
    color: $colorGreen;
  }
}

main {
  padding-top: 60px;
}

.container-fluid {
  width: 100%;
  max-width: 1170px;
}

.goback {
  a:before {
    content: "";
    border-top: solid 5px transparent;
    border-right: solid 5px $colorGreen;
    border-bottom: solid 5px transparent;
    display: inline-block;
  }
}