$colorPurple: #4e102a;
$colorPurpleVague: #6d374f;
$colorPink: #f4a7a0;
$colorPinkVague: #e18b7f;
$colorYellow: #e6b649;
$colorGreen: #305547;

$colorGrey1: #3e3e3e;
$colorGrey2: rgba(62, 62, 62, .6);



