.component-latest_blogposts {
	h1,h2,h3 {
      margin-bottom: 1em;
    }

  .link {
    text-align: center;

      a:after {
        content: "";
        border-top: solid 5px transparent;
        border-left: solid 5px $colorGreen;
        border-bottom: solid 5px transparent;
        display: inline-block;
      }
  }
}