/* =WordPress Core  */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }
  @media screen and (max-width: 700px) {
    .alignright {
      float: none;
      margin-right: 0;
      display: block;
      margin: 0 auto; } }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }
  @media screen and (max-width: 700px) {
    .alignleft {
      float: none;
      margin-right: 0;
      display: block;
      margin: 0 auto; } }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

.sticky,
.gallery-caption,
.bypostauthor {
  display: block; }

.editor_content {
  /*h1, .h1 {
        font-size: 3rem;
        line-height: 3.3rem;
    }
    h2, .h2 {
        font-size: 2.4rem;
        line-height: 2.6rem;
    }

    h3, .h3 {
        font-size: 2rem;
        line-height: 2.1rem;
    }
    
    h4, .h4 {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }*/ }
  .editor_content:after {
    content: "";
    display: table;
    clear: both; }
  .editor_content h1 {
    margin-bottom: .5em; }
  .editor_content p {
    font-size: 1rem;
    margin: 0 0 1.44em 0; }
    .editor_content p:last-of-type:not([class*="postmeta"]) {
      margin: 0; }
  .editor_content ul, .editor_content ol {
    margin-top: 1.44em;
    margin-bottom: 1.44em; }
  .editor_content .postmeta {
    text-align: center;
    font-style: italic;
    font-size: 0.857rem;
    margin-top: 30px; }
  .editor_content strong {
    font-weight: 700; }
  .editor_content em {
    font-style: italic; }

.editor_content_body:after {
  display: table;
  content: "";
  clear: both; }

.article_excerpt a, .article_excerpt a:hover, .article_excerpt a:active {
  text-decoration: none;
  color: #3e3e3e;
  transition: ease-in-out color 250ms; }

.article_excerpt a:hover, .article_excerpt a:active {
  color: #f4a7a0;
  color: #8d1d4c; }

.article_excerpt h2 {
  margin-top: 20px; }

.article_excerpt .article_thumbnail {
  width: 100%;
  height: auto;
  overflow: hidden; }

.article_excerpt img {
  transition: ease-in-out all 750ms;
  border: 1px solid #f1f1f1; }
  .article_excerpt img:hover {
    -webkit-filter: opacity(0.5) sepia(0.3);
    filter: opacity(0.5) sepia(0.3);
    transform: scale(1.2); }

.article_excerpt .postmeta_tags {
  margin: 15px 0 0 0;
  font-style: italic; }

.blog_excerpt {
  padding: 20px 0; }

.blog_featured a, .blog_featured a:hover, .blog_featured a:active, .blog_excerpt a, .blog_excerpt a:hover, .blog_excerpt a:active {
  text-decoration: none;
  color: #3e3e3e;
  transition: ease-in-out color 250ms; }

.blog_featured a:hover, .blog_featured a:active, .blog_excerpt a:hover, .blog_excerpt a:active {
  color: #f4a7a0;
  color: #8d1d4c; }

.blog_featured img, .blog_excerpt img {
  cursor: pointer; }

.blog_featured .blog_excerpt_thumbnail, .blog_featured .blog_featured_thumbnail, .blog_excerpt .blog_excerpt_thumbnail, .blog_excerpt .blog_featured_thumbnail {
  width: 100%;
  height: auto;
  overflow: hidden; }

.blog_featured img, .blog_excerpt img {
  transition: ease-in-out all 750ms; }
  .blog_featured img:hover, .blog_excerpt img:hover {
    -webkit-filter: opacity(0.5) sepia(0.3);
    filter: opacity(0.5) sepia(0.3);
    transform: scale(1.2); }

.site-header {
  margin-top: 20px; }
  .site-header a img {
    width: auto;
    height: 125px; }
  .site-header .navbar {
    text-align: right; }
    .site-header .navbar ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0; }
      .site-header .navbar ul li {
        display: inline-block;
        font-size: .875rem;
        margin-left: 10px; }
    .site-header .navbar a {
      color: rgba(62, 62, 62, 0.6);
      text-decoration: none;
      transition: color 300ms ease-in-out; }
      .site-header .navbar a:hover {
        text-decoration: none;
        color: #f4a7a0;
        color: #4e102a; }
      .site-header .navbar a:after {
        display: block;
        content: '';
        padding-top: 5px;
        border-bottom: solid 1px #f4a7a0;
        border-bottom: solid 1px #4e102a;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out; }
    .site-header .navbar a:hover:after {
      transform: scaleX(1); }
  @media screen and (max-width: 768px) {
    .site-header .col-md-3 {
      width: 25%;
      padding-left: 5px;
      padding-right: 0; }
    .site-header .col-md-9 {
      width: 75%; } }

body {
  font-family: 'Quicksand', sans-serif;
  font-size: .875em;
  line-height: 1.5em;
  color: #3e3e3e; }

h1 {
  font-weight: 300;
  font-size: 1.786rem;
  text-align: center;
  margin-bottom: 1.5em; }

h2 {
  font-weight: 300;
  font-size: 1.429rem;
  margin-bottom: 1em; }

p {
  font-weight: 300;
  font-size: 1rem; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #4c8670; }
  a:hover {
    color: #305547; }

main {
  padding-top: 60px;
  min-height: 60vh; }

.container-fluid {
  width: 100%;
  max-width: 1170px; }

.goback {
  display: inline-block; }
  .goback a:before {
    content: "";
    border-top: solid 5px transparent;
    border-right: solid 5px #305547;
    border-bottom: solid 5px transparent;
    display: inline-block; }
  .goback a {
    color: #4c8670;
    text-decoration: none;
    transition: color 300ms ease-in-out; }
    .goback a:hover {
      text-decoration: none;
      color: #305547; }
    .goback a:after {
      display: block;
      content: '';
      padding-top: 5px;
      border-bottom: solid 1px #305547;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out; }
  .goback a:hover:after {
    transform: scaleX(1); }

.search-results article + article {
  border-top: 1px dashed #e2e2e2;
  padding-top: 20px;
  margin-top: 20px; }

.pagination .page-numbers:not([class*="next"]):not([class*="prev"]) {
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #3e3e3e;
  text-decoration: none; }

.pagination a.page-numbers:not([class*="next"]):not([class*="prev"]) {
  background: #e6b649; }
  .pagination a.page-numbers:not([class*="next"]):not([class*="prev"]):hover {
    background: #ecc876;
    text-decoration: none; }

.pagination .next {
  margin-left: 10px; }

.pagination .prev {
  margin-right: 10px; }

.pagination {
  margin-top: 40px; }

.mfp-title {
  opacity: 0; }

.site-footer {
  margin-top: 30px;
  color: white; }
  .site-footer a, .site-footer a:hover, .site-footer a:active {
    color: white; }

.footer__content {
  background: #4e102a;
  padding: 30px 0 90px 0; }

.footer__background {
  background: url("http://rota.nu/wp-content/uploads/2018/12/green-2551467_1920.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
  opacity: .85; }

.footer__background p {
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  text-shadow: 0 0 10px black; }

input[type="text"], input[type="search"] {
  background: #ececec;
  color: #000;
  border-radius: 30px;
  padding: 15px 25px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  transition: ease-in-out all .2s; }
  input[type="text"]:focus, input[type="search"]:focus {
    background: #ccc; }

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white; }

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white; }

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white; }

textarea {
  background: #ececec;
  border-radius: 5px;
  border: none;
  padding: 10px;
  outline: none;
  -webkit-appearance: none; }
  textarea:focus {
    background: #ccc; }

button, input[type="submit"], .button--primary {
  background: #e6b649;
  border-radius: 30px;
  border: none;
  padding: 15px;
  min-width: 150px;
  cursor: pointer;
  transition: all cubic-bezier(0.85, 0.01, 0.62, 1) 0.2s;
  outline: none;
  text-align: center;
  color: #3e3e3e;
  text-decoration: none; }
  button:focus, input[type="submit"]:focus, .button--primary:focus {
    outline: none;
    text-decoration: none; }
  button:hover, input[type="submit"]:hover, .button--primary:hover {
    background: #ecc876;
    transform: scale(1.05);
    outline: none;
    text-decoration: none; }
  button:active, input[type="submit"]:active, .button--primary:active {
    transform: scale(0.95);
    outline: none;
    text-decoration: none; }
  button + button, input[type="submit"] + button, .button--primary + button, button + input[type="submit"], input[type="submit"] + input[type="submit"], .button--primary + input[type="submit"], button + .button--primary, input[type="submit"] + .button--primary, .button--primary + .button--primary {
    margin-left: 10px; }

.button--backwards:before {
  content: "";
  border-top: solid 5px transparent;
  border-right: solid 5px #305547;
  border-bottom: solid 5px transparent;
  display: inline-block;
  margin-right: 10px; }

.gform_wrapper input[type="text"], .gform_wrapper input[type="email"], .gform_wrapper textarea {
  width: 100%; }

.gform_wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.gform_wrapper label {
  margin-top: 1em; }

.gform_wrapper .validation_message {
  background: #ffcec8;
  border-radius: 15px;
  padding: 5px 11px;
  position: relative;
  margin: 8px 0 15px 0; }
  .gform_wrapper .validation_message:before {
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: -8px;
    left: 20px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ffcec8; }

.gform_wrapper .gfield_description:not([class*="validation_message"]) {
  color: #999;
  font-style: italic; }

.gform_wrapper .gform_footer {
  padding: 3em 0; }

.gform_wrapper button, .gform_wrapper input[type=submit] {
  width: 100%; }

.search-form-wrapper {
  position: relative;
  display: inline-block;
  width: 70%; }
  @media screen and (max-width: 768px) {
    .search-form-wrapper {
      width: 100%; } }

.search-form--startpage {
  background: #f4a7a0;
  background: #4e102a;
  padding: 60px;
  margin-top: -128px;
  margin-bottom: 40px; }
  @media screen and (max-width: 768px) {
    .search-form--startpage {
      padding: 60px 10px; } }
  .search-form--startpage .search-form-icon {
    position: absolute;
    top: 14px;
    right: 40px; }
  .search-form--startpage .search-form-icon svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    min-width: 25px;
    z-index: 1; }
    .search-form--startpage .search-form-icon svg path {
      fill: white;
      transition: fill ease-in-out .2s; }
  .search-form--startpage .search-submit {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    background: transparent;
    -webkit-appearance: none;
    outline: none;
    z-index: 2; }
    .search-form--startpage .search-submit:active + svg path,
    .search-form--startpage .search-submit:hover + svg path {
      fill: #4e102a; }
    .search-form--startpage .search-submit:active, .search-form--startpage .search-submit:hover {
      background: transparent; }
  .search-form--startpage input[type="search"] {
    padding-right: 50px;
    width: 100%;
    background: #e18b7f;
    background: #6d374f; }
    .search-form--startpage input[type="search"]:focus {
      background: white;
      color: #e18b7f;
      color: #4e102a; }
    .search-form--startpage input[type="search"]:focus + .search-form-icon svg path {
      fill: #f4a7a0;
      fill: #4e102a; }
  .search-form--startpage label {
    margin: 0;
    width: 100%; }
  .search-form--startpage .h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .search-form--startpage .h1 {
        font-size: 1.17rem; } }
  .search-form--startpage .search-form {
    text-align: center; }

.article-categories {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  text-align: center; }
  .article-categories li {
    display: inline-block;
    margin: 0 15px; }
    @media screen and (max-width: 768px) {
      .article-categories li {
        display: block;
        margin: 25px 0; } }
  .article-categories img {
    display: block;
    margin: 0 auto;
    width: 60px;
    transition: all ease-in-out .3s; }
  .article-categories a {
    color: #3e3e3e;
    text-decoration: none;
    transition: color 300ms ease-in-out; }
    .article-categories a:hover {
      text-decoration: none;
      color: #f4a7a0;
      color: #4e102a; }
    .article-categories a:after {
      display: block;
      content: '';
      padding-top: 5px;
      border-bottom: solid 1px #f4a7a0;
      border-bottom: solid 1px #4e102a;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out; }
  .article-categories a:hover:after {
    transform: scaleX(1); }
  .article-categories a:hover img {
    background: #d2e5de;
    border-radius: 50%; }

.articles_container {
  border-top: 1px dashed #e2e2e2;
  padding-top: 20px; }

.single-article h1 {
  margin-bottom: 1.5em; }

.component-latest_blogposts h1, .component-latest_blogposts h2, .component-latest_blogposts h3 {
  margin-bottom: 1em; }

.component-latest_blogposts .link {
  text-align: center; }
  .component-latest_blogposts .link a:after {
    content: "";
    border-top: solid 5px transparent;
    border-left: solid 5px #305547;
    border-bottom: solid 5px transparent;
    display: inline-block; }

/*# sourceMappingURL=app.css.map */
